header {
    background: #0f0d0d73;
    color: #ffffff;
    padding: 15px 5px;
    text-align: center;
} /* Set's the borrders and background, along with the alighment of the title of my page */

body{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: #FF0000;
} /* Sets the font, line height and entire background colour for the website */

section {
    margin: 15px;
    padding: 15px;
    background: #0c0808d3;
    border-radius: 5px;
} /* Determines the borders and background colour of the sections */

h2 {
    color: #ffffff;
} /* Determines the colour of the h2 headings text*/

p {
    color: #ffffff;
} /* Sets the colour of normal paragraph text*/
