header {
    background: #0f0d0d73;
    color: #ffffff;
    padding: 1px 1px;
    text-align: center;
}

body{
    font-family: merriweather, sans-serif;
    line-height: 1.6;
    background-color: #868381;
    margin: 0;
    padding: 0;
}

section {
    margin: 14px;
    padding: 14px;
    background: #0c0808d3;
    border-radius: 5px;
}

h2 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

li {
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

nav {
    background: transparent;
    padding: 10px 0;
    margin-bottom: -16px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav a {
    color:#ffffff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border:#ffffff solid 2px;
    background-color: #0c0808d3;
}

nav a:hover {
    background: #0c0808f3;
    border-radius: 5px;
}